.catalog-content > .row > *{
    max-width: 95%;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    top: calc(var(--header-height) * 2);
    left: 0;
    bottom: 200px;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.mobile-sortFilter {
    display: none;
}

.page-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 50%;
    margin: 1rem auto;
    text-align: center;
}

.page-buttons > *{
    width: 25%;
    font-size: 14px;
}

.dropdown-sort a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 2px solid transparent;
}

.dropdown-sort a:hover {
    cursor: pointer;
    color: var(--accent-colour) !important;
    border-color: var(--accent-colour);
}

.dropdown-sort:hover .sort-content{
    display: block;
}

.dropdown-sort > .button-secondary{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sort-content {
    display: none;
    position: absolute;
    border: 2px solid white;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    z-index: 3;
}

#brandFilter > .on{
    border-color: var(--accent-colour);
    color: var(--accent-colour) !important;
    background-color: var(--primary-colour) !important;
}

@media (min-width: 768px) {
    .catalog-content > .row{
        margin-left: 240px;
        justify-content: space-evenly;
    }

    .catalog-content {
        margin-top: calc(var(--header-height) * 2 + 15px);
    }

    .catalog-content strong {
        font-size: 2em;
    }
    .sidebar > div {
        margin: 0 auto 2rem;
        width: 70%;
    }

    .sidebar h4 {
        color: var(--primary-colour);
    }

    .filter-price > *{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .filter-price > div > *{
        width: 33%;
        margin-bottom: 0.2rem;
        text-align: center;
    }


    #brandFilter > button{
        margin: 0.1rem;
        width: 100%;
    }
}

@media only screen and (max-width:767.98px) {
    .sidebar {
        display: none;
    }

    #filter-block{
        display: none;
        padding-top: 40px;
    }

    .catalog-content {
        display:block;
        height: 100%;
    }

    .catalog-content > .row {
        margin-right: 0;
        margin-left: 0;
    }

    .mobile-sortFilter {
        background-color: var(--secondary-colour);
        margin-top: var(--header-height);
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #sortFilter-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #sortFilter-buttons > button, .dropdown-sort > button {
        width: 35vw !important;
        padding: 0.5rem;
    }

    .mobile-sortFilter button:hover {
        background-color: var(--accent-colour);
        box-shadow: 0.1rem 0.2rem 0.25rem rgba(255,255,255,0.3) !important;
    }

    #filter-block h4{
        color: var(--primary-colour);
    }

    .filter-price{
        width: 30%;
    }

    .filter-price > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .filter-price *{
        width: 100%;
        text-align: center;
    }

    .filter-price span{
        color: var(--primary-colour);
    }

    .filter-price input{
        max-width: 80px;
    }

    #brandFilter{
        font-size: 14px;
        display: grid;
        gap: 4px 4px;
        grid-template-columns: 40% 40%;
        grid-template-rows: 34px;
        justify-content: center;
    }
    #brandFilter h4{
        grid-column: 1 / span 2;
        justify-self: center;
    }

    .expand {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        animation-name: vertical-expand;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}

@keyframes vertical-expand {
    0%{
        height: 0;
    }
    100%{
        height: 400px;
    }
}