.footer-block{
    background-color: var(--secondary-colour);
    width: 100%;
    min-height: 240px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-block a{
    border: 1px solid transparent;
    border-radius: 4px;
}

.footer-block a:hover > *, .footer-block a:hover{
    border-color: var(--accent-colour);
    color: var(--accent-colour);
    fill: var(--accent-colour);
}

.footer-block h3{
    text-align: center;
    height: 15%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    height: 90%;
    max-width: 300px;
    margin: auto;
}

.footer-content > div, .footer-content > a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.footer-socials svg {
    height: 24px;
    width: 24px;
    margin: 0.5rem;
}

.footer-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links > * {
    width: 50%;
    height: 100%;
}

.footer-hours {
    font-size: 10px;
}

