/********************
    General CSS
********************/

.header{
    width: 100vw !important;
    background-color: var(--secondary-colour);
    height: var(--header-height);
    padding: 0.5rem 1rem;
}

.header *{
    color: var(--primary-colour);
}

.header a{
    text-decoration: none;
}

.header svg:hover{
    border-color: 1px solid var(--accent-colour);
    color: var(--accent-colour);
    fill: var(--accent-colour);
}

/* Left Side Header */
#header-left{
    width: 30%;
}

/* Middle Header */
#header-middle{
    width: 40%;
    display: flex;
}

/* Right Side Header */
#header-right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    color: white
}

.header-checkout > .header-productCount{
    margin: 0;
    position: absolute;
    right: -5px;
    top: -5px;
    height: fit-content;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: rgba(119, 58, 28, 0.6);
    border-radius: 0.6em;
    border: 1px solid var(--primary-colour);
}

/********************
  Large Screen CSS
********************/
@media (min-width: 768px){
    /* Header */
    .header-desktop{
        display: flex;
        align-items: center;
    }
    .header-mobile{
        display: none;
    }

    .header-desktop-block{
        position: fixed;
        top:0px;
        left: 0px;
        z-index: 2;
    }

    #home{
        width: 33%;
    }

    #header-left *{
        max-height: 50px;
        object-fit: contain;
    }

    #header-left img{
        width: 70%;
        padding-left: 5%;
    }

    #header-right > *{
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .header-checkout > svg{
        width: 48px;
        height: 48px;
    }

    .header-login, .header-checkout{
        width: 50%;
    }


    .header-checkout > .header-productCount{
        position: relative;
        right: 5px;
        top: 0;
    }
    .header_searchInput{
        height: 22px;
        padding: 5px;
        border: none;
        width: 100%;
        color: var(--secondary-colour);
    }

    .header-searchIcon{
        padding: 5px;
        height: 22px;
    }

    .header_nav{
        display: flex;
        justify-content: space-evenly;
    }

    .header_option{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_link{
        color: white;
        text-decoration: none;
    }

    .header_optionBasket{
        display: flex;
        align-items: center;
    }

    #mobile-menu{
        display: none;
    }
}

/********************
  Small Screen CSS
********************/
@media (max-width: 767.98px)
{
    /* Main Header */
    .header-desktop{
        display:none;
    }

    .header-mobile *{
        height:50px;
        position:relative;
    }

    .header-mobile svg, .header-mobile label{
        color: var(--primary-colour);
    }

    .header-mobile{
        height: var(--header-height);
        position: fixed;
        top: 0;
        z-index: 100;
        display: flex;
        justify-content:space-between;
        align-items: center;

    }

    /* Left Side Header */
    /* Removes the checkbox associated with the hamburger button.
         This makes it so you just see and just click the hamburger button. */
    #header-menu{
        display:none;
    }

    /* Middle Header */
    .header-home{
        margin: auto;
    }

    /* Right Side Header */
    #header-right > *{
        margin: 5px;
        width: 40px;
        height: 40px;
    }

    #header-right > svg{
        margin-right: 10%;
    }

    .header-checkout > svg {
        width: inherit;
        height: inherit;
    }

    /* Scrolling Side Menu */
    #mobile-menu{
        display:block;
        position:fixed;
        height: calc(100vh - var(--header-height));
        width: 70%;
        top: 70px;
        transform: translateX(-100%);
        z-index:1000;
        background-color: var(--primary-colour);
    }

    #mobile-menu h1{
        text-align: left;
        padding: 10px;
    }

    #mobile-menu-user{
        position: absolute;
        bottom: 0;
    }

    .disable-menu{
        animation-name: rotate-cw;
        animation-duration: 2s;
        animation-direction: reverse;
        animation-fill-mode: both;
    }

    .enable-menu{
        animation-name: rotate-cw;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}

/********************
      Keyframes
********************/
@keyframes rotate-cw {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes rotate-ccw {
    0% {
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes slide-menu-on {
    0%{
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-menu-off {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}