/** Large screen CSS */
@media (min-width: 768px){
    .header-desktop{
        background-color: #883C00;
        display: flex;
        align-items: center;
        position: sticky;
        top:0;
        z-index: 2;
    }
    .header-mobile{
        display: none;
    }

    .header_logo{
        width: 35px;
        margin: 18px 20px;
        object-fit: contain;
    }
    .header_search{
        display: flex;
        flex: 1;
    }
    .header_searchInput{
        height: 22px;
        padding: 5px;
        border: none;
        width: 100%;
    }

    .header-searchIcon{
        padding: 5px;
        height: 22px;
    }

    .header_nav{
        display: flex;
        justify-content: space-evenly;
    }

    .header_option{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_link{
        color: white;
        text-decoration: none;
    }

    .header-optionOne{
        font-size: 10px;
    }

    .header-optionTwo{
        font-size: 13px;
        font-weight: 800;
    }

    .header_optionBasket{
        display: flex;
        align-items: center;
    }



    #mobile-menu{
        display: none;
    }
}

/** Small screen CSS */

@media (max-width: 767.98px)
{
    .header-mobile * {
        height:50px;
        position:relative;
    }

    .header-mobile svg, .header-mobile label{
        color: var(--primary-colour);
    }

    .header-mobile{
        width: 100vw !important;
        height: var(--header-height);
        position:fixed;
        top: 0;
        z-index: 100;
        background-color: var(--secondary-colour);
        display: flex;
        justify-content:space-between;
        align-items: center;

    }
    #header-right > .header-productCount{
        margin: 0;
        position: absolute;
        right: 10px;
        top: 0px;
        padding-left: 0.2em;
        padding-right: 0.2em;
        background-color: rgba(119, 58, 28, 0.6);
        border-radius: 0.6em;
        border: 1px solid var(--primary-colour);
        color: var(--primary-colour)
    }
    .header-checkout{
        height: 50px;
        width: 50px;
    }

    .header-productCount{
        height: fit-content;
    }

    .header-desktop, .nav_links{
        display:none;
    }
    .header-home{
        margin: auto;
    }

    #header-left{
        width: 30%;
    }

    #header-middle{
        width: 40%;
        display: flex;
    }

    #header-right{
        width: 30%;
    }
    #header-right > *{
        margin: 10px;
    }

    #mobile-menu{
        display:block;
        position:fixed;
        height: calc(100vh - var(--header-height));
        width: 70%;
        top: 70px;
        transform: translateX(-100%);
        z-index:1000;
        background-color: rgb(255,255,255);
    }

    #mobile-menu h1{
        text-align: left;
        padding: 10px;
    }

    #mobile-menu-user{
        position: absolute;
        bottom: 0;
    }

    #header-menu{
        display:none;
    }

    .disable-menu{
        animation-name: rotate-cw;
        animation-duration: 2s;
        animation-direction: reverse;
        animation-fill-mode: both;
    }

    .enable-menu{
        animation-name: rotate-cw;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    @keyframes rotate-cw {
        0% {
            transform: rotate(0);
        }
        100%{
            transform: rotate(90deg);
        }
    }

    @keyframes rotate-ccw {
        0% {
            transform: rotate(90deg);
        }
        100%{
            transform: rotate(0);
        }
    }

    @keyframes slide-menu-on {
        0%{
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes slide-menu-off {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }


}