.home{
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#home-carousel{
    height: 40vh;
}

.carousel-item > .carousel-caption{
    top: 10%;
    right: 0;
    left: 0;
}

.carousel-item > img{
    max-height: 30vh;
    width: 100%;
}

.active > img{
    object-fit: contain;
}

.home-row{
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px;
}

h1{
    text-align: center;
}

@media (max-width: 767.98px) {
    .home{
        padding-top: 70px;
    }

}