.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login svg{
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    fill: var(--accent-colour);
}

.login-container{
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}

.button-login, .button-register{
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
}

.login_container p{
    margin-top: 15px;
    font-size: 12px;
}
 .login_container > h1{
     font-weight: 500;
     margin-bottom: 20px;
 }
 .login_container > form{
     margin: auto;
 }
 .login-container > form > input{
     height: 30px;
     margin-bottom: 10px;
     background-color: white;
     width: 100%;
 }

 .login-message {
     border: 2px solid red;
     color: red;
     padding: 1em;
     border-radius: 3px;
 }