.nav_links{
    background-color: #232f3e;
    color: white;
}
.nav_links_outer{
    width: 70%;
    margin: auto;
    padding: 6px;
}

.nav_links_outer a{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #232f3e;
}

.nav_links_outer a:hover{
    border: 1px solid white;
    border-radius: 4px;
}

.nav_links_inner{
    display: flex;
    margin-top: 3px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}