.nav-links{
    display: none;
}

@media (min-width: 768px){
    .nav-links{
        background-color: var(--secondary-colour);
        color: var(--primary-colour);
        width: 100%;
        height: var(--header-height);
        margin: auto;
        padding: 6px;
        display: flex;
        justify-content: space-around;
        z-index: 2;
    }

    .nav-links a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        width: 15%;
        height: 50px;
        padding: 5px;
    }
}
