.productCart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productCart-image{
    object-fit: contain;
    width: 160px;
    height: 160px;
}

.productCart-title{
    font-size: 16px;
    font-weight: 600;
}

.productCart-info{
    padding: 1rem;
}

.productCart-info > button{
    width: 50%;
}

@media (min-width: 768px) {
    .productCart-info{
        width: 100%;
    }
    .productCart-info > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .productCart-info > button{
        display: block;
        width: 50%;
        margin: 0.5rem auto;
    }

    .productCart-upper{
        margin-top: auto;
        margin-bottom: auto;
    }

    .subtotal{
        position: sticky;
        top: 200px;
    }
}

@media (max-width: 767.98px) {
    .productCart{
        height: max-content;
        flex-direction: column;
        align-items: center;
    }

    .productCart-upper{
        margin-left: auto;
        margin-right: auto;
    }

    .productCart-image{
        height: 100%;
    }

    .productCart-info{
        width: 100%;
    }

    .productCart-info > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .productCart-info > button{
        width: 100%;
    }
}