
.product{
    display: flex;
    background-color: white;
    z-index: 1;
    align-items: center;
    border: 1px solid black;
}

.product_info {
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: lightblue;
}

.product > img {
    object-fit: contain;
    padding: 15px;
}

.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}

@media only screen and (min-width:576.02px) {
    .product {
        display: flex;
        flex-direction: column;
        min-width: 280px;
        background-color: white;
        justify-content: flex-end;
    }

    .product_price {
        margin-top: 5px;
    }

    .product > img {
        width: 100%;
        max-height: 200px;
    }
}
@media only screen and (max-width:576px) {
    .product{
        flex-direction: row !important;
        justify-content: space-between;
    }
    .product_info{
        height: 100%;
    }
    .product > img{
        width: 40%;
        max-width: 150px;
    }
    .product > img {
        object-fit: contain;
        padding: 15px;
    }

    .product > button {
        background-color: #f0c14b;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
    }

}



