a:link, a:visited{
    text-decoration: none;
    color: black;
}

.product_info{
    font-size: 20px;
}

.product_price{
    color: var(--accent-colour)
}

.product{
    display: flex;
    background-color: white;
    z-index: 1;
    align-items: center;
    border-radius: 0.5em;
}

.product:hover{
    color: var(--secondary-colour);
    animation-name: scale-up-center;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.product_info {
    text-align: left;
    padding-left: 20px;
    width: 100%;
}

.product > img {
    object-fit: contain;
    padding: 15px;
}

.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}

@media only screen and (min-width:768px) {
    .product {
        display: flex;
        flex-direction: column;
        min-width: 280px;
        background-color: white;
        justify-content: flex-end;
    }

    .product_price {
        margin-top: 5px;
    }

    .product > img {
        width: 100%;
        max-height: 200px;
    }
}
@media only screen and (max-width: 767.98px) {
    .product{
        flex-direction: row !important;
        justify-content: space-between;
        height: 160px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .product_info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .product > img{
        width: 40%;
        max-height: 100%;
    }
    .product > img {
        object-fit: contain;
    }

    .product > button {
        background-color: #f0c14b;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
    }

}

@keyframes scale-up-center {
    0% {
        border: none;
    }
    100% {
        border: 0.1rem solid var(--secondary-colour)
    }
}
