.subtotal{
    padding: 10px;
}

.button-checkout{
    display: block;
    width: 90%;
    margin: auto;
}

.subtotal > div{
    display: flex;
    justify-content:space-between;
    margin: 0.2rem;
}

.subtotal > button{
    margin-top: 1rem;
}