@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
  background-color: rgb(234,237,237);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Work Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 70px;

  --primary-colour: #ffffff;
  --secondary-colour: #171717;
  --accent-colour: #773a1c;
}

.button-generic {
  color: var(--accent-colour);
  border-radius: 0.3em;
  font-weight: bold;
  border-color: var(--accent-colour);
  padding: 0.5rem 0;
}

.button-generic:active{
  color: var(--primary-colour);
  border-color: var(--secondary-colour);
  background-color: var(--accent-colour);
}

.button-secondary {
  color: var(--primary-colour) !important;
  font-weight: 900;
  border: 1px solid var(--primary-colour);
  background-color: var(--secondary-colour);
}

.main {
  min-height: calc(100vh - var(--header-height) - 240px);
  margin-top: var(--header-height);
}

.row {
  margin-right: 0 !important;
}
